Source: openmediavault-rsnapshot
Section: net
XB-Plugin-Section: backup
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9.0.0), gettext
Standards-Version: 3.9.6
Homepage: http://omv-extras.org

Package: openmediavault-rsnapshot
Architecture: all
Depends: openmediavault (>= 3.0.15),
         rsnapshot
Priority: optional
Description: OpenMediaVault rsnapshot backup plugin.
 Configures Backups by using rsnapshot, allowing rotating
 incremental backups.
